# dependencies
node_modules/
apps/api/node_modules/
apps/web/node_modules/

# Next.js
apps/web/.next/

# Yarn / PnP (even if you don't use it, nbd)
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
